<%= button_to 'images', '/storage/images'%>
<%= button_to 'videos', '/storage/videos' %>
<%= button_to 'messages', '/storage/messages' %>
<%= button_to 'other_files', '/storage/other_files' %>
<div id="container">
  <%= render partial: 'images' %>
</div>