<%= button_to 'images', '/storage/images', class: "button-white"%>
<%= button_to 'videos', '/storage/videos', class: "button-white" %>
<%= button_to 'messages', '/storage/messages', class: "button-white" %>
<%= button_to 'other_files', '/storage/other_files', class: "button-white" %>
<div id="container">
  <%= render partial: 'images' %>
</div>