<div class="main">
  <h1 class="main_title">Электронный музей кафедры ИУ6</h1>
  <%= link_to 'Гимн МВТУ', '/homepage/museum', class: 'button' %>
</div>

<div class="content">
  <div class="sections">

    <span class="container">
      <%= link_to '/homepage/history' do %>
        <div class="cont_title">
          История кафедры
          <svg xmlns="http://www.w3.org/2000/svg" width="91" height="16" viewBox="0 0 91 16" fill="none">
            <path d="M90.3739 8.70711C90.7644 8.31658 90.7644 7.68342 90.3739 7.29289L84.0099 0.928932C83.6194 0.538408 82.9862 0.538408 82.5957 0.928932C82.2052 1.31946 82.2052 1.95262 82.5957 2.34315L88.2525 8L82.5957 13.6569C82.2052 14.0474 82.2052 14.6805 82.5957 15.0711C82.9862 15.4616 83.6194 15.4616 84.0099 15.0711L90.3739 8.70711ZM0.666748 9H89.6667V7H0.666748V9Z" fill="black"/>
          </svg>
        </div>
      <% end %>
        <svg xmlns="http://www.w3.org/2000/svg" height="2">
          <path d="M1 1H467.667" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <div>
          <%= image_tag('content/historyIU6.jpg', alt: 'history', class: 'image') %>
        </div>
    </span>

    <span class="container">
      <%= link_to '/homepage/teachers' do %>
        <div class="cont_title">
          Преподаватели
          <svg xmlns="http://www.w3.org/2000/svg" width="91" height="16" viewBox="0 0 91 16" fill="none">
            <path d="M90.3739 8.70711C90.7644 8.31658 90.7644 7.68342 90.3739 7.29289L84.0099 0.928932C83.6194 0.538408 82.9862 0.538408 82.5957 0.928932C82.2052 1.31946 82.2052 1.95262 82.5957 2.34315L88.2525 8L82.5957 13.6569C82.2052 14.0474 82.2052 14.6805 82.5957 15.0711C82.9862 15.4616 83.6194 15.4616 84.0099 15.0711L90.3739 8.70711ZM0.666748 9H89.6667V7H0.666748V9Z" fill="black"/>
          </svg>
        </div>
      <% end %>
        <svg xmlns="http://www.w3.org/2000/svg"  height="2">
          <path d="M1 1H467.667" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <div class="image">
          
        </div>
    
    </span>

    <span class="container">
      <%= link_to '/homepage/materials' do %>
        <div class="cont_title">
          Учебные материлы
          <svg xmlns="http://www.w3.org/2000/svg" width="91" height="16" viewBox="0 0 91 16" fill="none">
            <path d="M90.3739 8.70711C90.7644 8.31658 90.7644 7.68342 90.3739 7.29289L84.0099 0.928932C83.6194 0.538408 82.9862 0.538408 82.5957 0.928932C82.2052 1.31946 82.2052 1.95262 82.5957 2.34315L88.2525 8L82.5957 13.6569C82.2052 14.0474 82.2052 14.6805 82.5957 15.0711C82.9862 15.4616 83.6194 15.4616 84.0099 15.0711L90.3739 8.70711ZM0.666748 9H89.6667V7H0.666748V9Z" fill="black"/>
          </svg>
        </div>
      <% end %>
        <svg xmlns="http://www.w3.org/2000/svg"  height="2">
          <path d="M1 1H467.667" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <div class="image">
          
        </div>
    </span>
  </div>
         <div class="blue dir">
        <div class="group-name xs-title">
            <p class="title">
              Сайт находится в разработке
            </p>
            <li>
              Есть предложения по разработке и наполнению сайта?
            </ul>
            <li>
              Не нравятся фотографии?
            </ul>
            <li>
              Хотите, чтобы ваши материалы попали в музей?
            </li>
            <br>
            <div class="small-title">
              Заполните форму
            </div>
        </div>
        <%= link_to 'Откликнуться', '/request/send_request', class: 'button-white' %>
      </div>
</div>

