<div class="searcher">
    <h1 class="title">
    Методические пособия, материалы, дипломы
    </h1>
</div>

<div class="searcher">
    <div class="line"></div>

    <h1 class="small-title">
    Авторские свидетельства и патенты сотрудников и выпускников кафедры
    </h1>
</div>


<div class="searcher">
        <div class="sections">
            <div>
                <embed src="<%= "get_image/materials|2022_ПрЭВМ_с_МГППУ.PDF" %>" width="-webkit-fill-available" height="400px" />
            </div>
            <div>
                <embed src="<%= "get_image/materials|2022-2_ПрЭВМ_Грант_РНФ.pdf" %>" width="-webkit-fill-available" height="400px" />
            </div>

            <div>
                <embed src="<%= "get_image/materials|2022_ПрЭВМ_Смирнова_Никитина_Маняшев.pdf" %>" width="-webkit-fill-available" height="400px" />
            </div>
        </div>
</div>


<div class="searcher">
    <div class="line"></div>

    <h1 class="small-title">
        Интервью 
    </h1>
</div>


<div class="searcher">
        <div class="sections">
            <div>
                <embed src="<%= "get_image/materials|2_Нореников_Интервбю.pdf" %>" width="-webkit-fill-available" height="400px" />
            </div>
            <div>
                <embed src="<%= "get_image/materials|3_Сюзев_Интервью.pdf" %>" width="-webkit-fill-available" height="400px" />
            </div>
        </div>
</div>


<div class="searcher">
    <div class="line"></div>

    <h1 class="small-title">
        Воспоминания выпускников кафедры
    </h1>
</div>


<div class="searcher">
        <div class="sections">
            <div>
                <embed src="<%= "get_image/materials|Горянова_КТ_Моя студенческая жизнь.pdf" %>" width="-webkit-fill-available" height="400px" />
            </div>
            <div>
            <embed src="<%= "get_image/materials|aleksandr-yakovlevich-saveliev.pdf" %>" width="-webkit-fill-available" height="400px" />
        </div>
</div>


<div class="searcher">
    <div class="line"></div>

    <h1 class="small-title">
        Вырезки из газет
    </h1>
</div>


<div class="searcher">
        <div class="sections">
            <div>
                <embed src="<%= "get_image/materials|12_газета.pdf" %>" width="-webkit-fill-available" height="400px" />
            </div>
            <div>
                <embed src="<%= "get_image/materials|14_БАУМАНЕЦ_1982.pdf" %>" width="-webkit-fill-available" height="400px" />
            </div>
            <div>
            <embed src="<%= "get_image/materials|9_ВПК_РИБУНА_2009_ГОДА.pdf" %>" width="-webkit-fill-available" height="400px" />
        </div>
        </div>
</div>