<div class="searcher">
    <h1 class="title">
    Методические пособия, материалы, диплломы
    </h1>
</div>

<div class="searcher">
    <div class="line"></div>

    <h1 class="small-title">
    Авторские свидетельства и патенты сотрудников и выпускников кафедры
    </h1>
</div>


<div class="searcher">
        <div class="sections">
            <div>
                <embed src="<%= "get_image/materials|2022_ПрЭВМ_с_МГППУ.PDF" %>" width="auto" height="500px" />
            </div>
            <div>
                <embed src="<%= "get_image/materials|2022-2_ПрЭВМ_Грант_РНФ.pdf" %>" width="auto" height="500px" />
            </div>

            <div>
                <embed src="<%= "get_image/materials|2022_ПрЭВМ_Смирнова_Никитина_Маняшев.pdf" %>" width="auto" height="500px" />
            </div>
        </div>
</div>


<div class="searcher">
    <div class="line"></div>

    <h1 class="small-title">
        Интервью 
    </h1>
</div>


<div class="searcher">
        <div class="sections">
            <div>
                <embed src="<%= "get_image/materials|2_Нореников_Интервбю.pdf" %>" width="auto" height="500px" />
            </div>
            <div>
                <embed src="<%= "get_image/materials|3_Сюзев_Интервью.pdf" %>" width="auto" height="500px" />
            </div>
        </div>
</div>