<%= form_with url: '/request/create', id: 'send_form', method: :post do |form| %>
    <div>
        <%= form.label :message %>
        <%= form.text_area :message, id: 'message-area' %>
    </div>

    <div>
        <%= form.label :images %>
        <%= form.file_field :images, multiple: true %>
    </div>

    <div>
        <%= form.label :some_files %>
        <%= form.file_field :some_files, multiple: true %>
    </div>

    <div>
        <%= form.label :links %>
        <%= form.text_area :links, id: 'links-area' %>
    </div>

    <%= form.submit 'Save', id: 'save-btn' %>
<% end %>
