<div class="section-prof">
    <div class="wrap">
        <%= form_with url: '/request/create', id: 'send_form', method: :post do |form| %>
            <div class="year-group">
                <div>
                    <%= form.label 'Сообщение' %>
                    <%= form.text_area :message, id: 'message-area' %>
                </div>
            </div>
            <div class="year-group">    
                <div>
                    <%= form.label 'Изображения' %>
                    <%= form.file_field :images, multiple: true %>
                </div>
            </div>
            <div class="year-group">
                <div>
                    <%= form.label 'Файлы' %>
                    <%= form.file_field :some_files, multiple: true %>
                </div>
            </div>
            <div class="year-group">
                <div>
                    <%= form.label 'Ссылки на видео или хранилища' %>
                    <%= form.text_area :links, id: 'links-area' %>
                </div>
            </div>

            <%= form.submit 'Save', id: 'save-btn', class: 'button' %>
        <% end %>
    </div>
</div>