<h1>Requests</h1>
<% @requests.each do |request| %>
    <div class="card" id="card_<%= request.id %>">
        <hr>
        <%= form_with url: "/request/read/#{request.id}", method: :post do |form| %>
            <h3 class="card-title">User: <%= User.find(request.user_id).email %></h3>
            <p>Имя: <%= User.find(request.user_id).name %></p>
            <p>Фамилия: <%= User.find(request.user_id).surname %></p>
            <% unless User.find(request.user_id).middle_name.empty? %>
            <p>Отчество: <%= User.find(request.user_id).middle_name %></p>
            <% end %>
            <p>Год выпуска: <%= User.find(request.user_id).year %></p>
            <p>Message: <%= request.message %></p>
            <% if request.images.attached? %>
                <p>Images: <% request.images.each do |image| %>
                    <%= link_to(image_tag(image, style: "width: 150px; height: 150px; display: block;"), image) %>
                    <%= check_box("image", image.id, {checked: false}) %>
                <% end %></p>
            <% end %>
            <% if request.some_files.attached? %>
                <p>Files: <% request.some_files.each do |file| %>
                    <%= link_to(file.blob.filename, file) %>
                    <%= check_box("file", file.id, {checked: false}) %>
                <% end %></p>
            <% end %>
            <%= form.submit %>
        <% end %>
    </div>
    <br>
<% end %>

<%= link_to "already readed requests", '/request/already_read' %>
<%= button_to 'Back', '/', method: :get %>
