<div class="block">
  <div class="img">
  <%= image_tag('logo.png', alt: 'logo') %>
  </div>
  <div class="group-form">
    <div class="text-title">
        Отправить подтверждение почты повторно
    </div>
  </div>

  <div class="group-form">
    <div class="wrapper">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="group-form">
        <%= render "devise/shared/links" %>
        </div>

        <div class="button">
          <%= f.submit "Отправить", class: "button" %>
        </div>
      <% end %>

    </div>
    
  </div>
</div>