<div class="block">
  <div class="img">
      <img src="./images/logo.png" alt="logo">
  </div>
  <div class="group-form">
    <div class="text-title">
        Создание учетной записи
    </div>
    <div class="text">
    для пользователей, не имеющих корпоративную почту МГТУ им. Н.Э. Баумана
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname, autocomplete: "surname" %>
  </div>

  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name, autocomplete: "middle_name" %>
  </div>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year, autocomplete: "year" %>
  </div>

  <div class="field">
    # <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Пароль", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="group-form">
  <%= render "devise/shared/links" %>
  </div>

  <div class="button"> #actions
    <%= f.submit "Зарегестрироваться" %>
  </div>
  <% end %>
</div>
