<div class="block">
  <div class="img">
      <%= image_tag('logo.png', alt: 'logo') %>
  </div>
  <div class="group-form">
    <div class="text-title">
        Вход
    </div>
  </div>

  <div class="group-form">
    <div class="wrapper">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Пароль", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field group-form">
            <%= f.check_box :remember_me %>
            <%= f.label :"Запомнить меня" %>
          </div>
        <% end %>
        
        <div class="group-form">
        <%= render "devise/shared/links" %>
        </div>

        <div class="actions">
        <%= f.submit "Войти", class: "button" %>
        </div>
      <% end %>

    </div>
    

  </div>
</div>