<%= javascript_include_tag 'destroy_pause' %>
<h1>Users</h1>
<% @users.each do |user| %>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Email: <%= user.email %></h3>
        <p>Имя: <%= user.name %></p>
        <p>Фамилия: <%= user.surname %></p>
        <% unless user.middle_name.empty? %>
          <p>Отчество: <%= user.middle_name %></p>
        <% end %>
        <p>Год выпуска: <%= user.year %></p>
        <p>Дата создания: <%= user.created_at %></p>
        <p>Дата обновления: <%= user.updated_at %></p>
        <p>Роль: <div id="role"><%= user.role %></div></p>
        <div id="set_admin">
          <% if user.role == 'user' %>
            <%= button_to 'Назначить администратором', "/profile/set_admin/#{ user.id }", method: :put %>
          <% else %>
            <%= button_to 'Сделать обычным пользователем', "/profile/set_admin/#{ user.id }", method: :put %>
          <% end %>
        </div>
            <a href="/profile/edit/<%= user.id %>" class="btn btn-danger">Изменить данные пользователя</a>
            <br>
            <button type="button" id="button_destroy" onclick="stop_destroy()">
            <%= button_to 'Удалить пользователя', "/profile/destroy/#{user.id}", method: :delete, id: 'button_destroy', onclick: 'stop_destroy()' %>
            <div id="timer_destroy"></div>
      </div>
    </div>
    <br>
<% end %>
