<h2>Change your password</h2>

<div id="error-messages">
    
</div>

<%= form_with(url: "/profile/password_update/#{@user_id}", method: :put) do |f| %>
  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password" %><br>

    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= link_to 'back', '/profile/profile' %>
