<div class="searcher">
<div class="back">
    <h1 class="cont_title title">
    <%= link_to('/profile/profile') do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="82" height="16" viewBox="0 0 82 16" fill="none">
        <path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM81 9C81.5523 9 82 8.55228 82 8C82 7.44772 81.5523 7 81 7V9ZM1 9H81V7H1V9Z" fill="black"/>
    </svg>
    <% end %>
    Изменение пароля
    </h1>
</div>
</div>


<div id="error-messages">
    
</div>
<div class="block">
<div class="section-prof">
    <%= form_with(url: "/profile/password_update/#{@user_id}", method: :put) do |f| %>
      <div class="field">
      <div class="year-group">
        <%= f.label :current_password, "Текущий пароль" %>
        <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password" %><br>
      </div>
      <div class="year-group">
        <%= f.label :password, "Новый пароль" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
      <div class="year-group">
        <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Изменить пароль", class: "button-white" %>
      </div>
    <% end %>
</div>
</div>

