<h1>Edit user</h1>
<div class="name">
    <p>Имя: 
        <div id="current_name">
            <%= @user.name %>
        </div>
    </p>
    <%= turbo_frame_tag 'name' do %>
        <%= link_to 'Изменить', "/profile/change/#{@user_id}" %>
    <% end %>
</div>
<div class="surname">
    <p>Фамилия: 
        <div id="current_surname">
            <%= @user.surname %>
        </div>  
    </p>
    <%= turbo_frame_tag 'surname' do %>
        <%= link_to 'Изменить', "/profile/change/#{@user_id}" %>
    <% end %>
</div>
<div class="middle_name">
    <p>Отчество: 
        <div id="current_middle_name">
            <%= @user.middle_name %>
        </div>        
    </p>
    <%= turbo_frame_tag 'middle_name' do %>
        <%= link_to 'Изменить', "/profile/change/#{@user_id}" %>
    <% end %>
</div>
<div class="year">
    <p>Год выпуска: 
        <div id="current_year">
            <%= @user.year %>
        </div>
    </p>
    <%= turbo_frame_tag 'year' do %>
        <%= link_to 'Изменить', "/profile/change/#{@user_id}" %>
    <% end %>
</div>
<%= button_to 'Back', '/profile/admin_profile', method: :get, class: "btn btn-primary btn-sign-out" %>

<%= javascript_include_tag 'profile' %>