    <div class="searcher">
        <h5 class="title">
        <%= link_to(root_path) do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="82" height="16" viewBox="0 0 82 16" fill="none">
            <path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM81 9C81.5523 9 82 8.55228 82 8C82 7.44772 81.5523 7 81 7V9ZM1 9H81V7H1V9Z" fill="black"/>
          </svg>
        <% end %>
        Профиль
        </h5>
        
    </div>
<div class="section-prof">
    <div class="wrap">
        <div class="group-name text">
            <div class="line-name">

            <div id="current_name">
                <%= current_user.name %>
            </div>
            <%= turbo_frame_tag 'name' do %>
                <%= link_to("/profile/change/#{current_user.id}") do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0297 6.93656L5.90737 15.0589C5.72196 15.2443 5.6178 15.4958 5.6178 15.758L5.6178 17.2923C5.6178 17.342 5.65804 17.3822 5.70768 17.3822H7.24199C7.5042 17.3822 7.75567 17.278 7.94108 17.0926L16.0634 8.97026L14.0297 6.93656ZM15.1737 5.7926L17.2074 7.8263L18.2242 6.80945C18.4348 6.59885 18.4348 6.25741 18.2243 6.04681L16.9532 4.77575C16.7426 4.56515 16.4011 4.56515 16.1905 4.77575L15.1737 5.7926ZM4.76341 13.915L15.0466 3.63179C15.889 2.7894 17.2548 2.7894 18.0971 3.63179L19.3682 4.90286C20.2106 5.74524 20.2106 7.11102 19.3682 7.95341L9.08504 18.2366C8.59623 18.7254 7.93327 19 7.24199 19L5.70768 19C4.76456 19 4 18.2354 4 17.2923L4 15.758C4 15.0667 4.27461 14.4038 4.76341 13.915Z" fill="#6D6D6D"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25648 3.1453e-07H14.7435C15.9542 -1.14143e-05 16.9327 -2.1092e-05 17.7254 0.0647501C18.5423 0.131491 19.2627 0.272694 19.9302 0.612786C20.9881 1.15181 21.8482 2.0119 22.3872 3.06979C22.7273 3.73726 22.8685 4.45769 22.9353 5.27456C23 6.06732 23 7.04578 23 8.25648V14.7435C23 15.9542 23 16.9327 22.9353 17.7254C22.8685 18.5423 22.7273 19.2627 22.3872 19.9302C21.8482 20.9881 20.9881 21.8482 19.9302 22.3872C19.2627 22.7273 18.5423 22.8685 17.7254 22.9353C16.9327 23 15.9542 23 14.7435 23H8.25647C7.04578 23 6.06732 23 5.27456 22.9353C4.45769 22.8685 3.73726 22.7273 3.06979 22.3872C2.0119 21.8482 1.15181 20.9881 0.612786 19.9302C0.272694 19.2627 0.131491 18.5423 0.0647504 17.7254C-2.07064e-05 16.9327 -1.14145e-05 15.9542 3.14367e-07 14.7435V8.25648C-1.14145e-05 7.04578 -2.07849e-05 6.06732 0.0647504 5.27456C0.131491 4.45769 0.272694 3.73726 0.612786 3.06979C1.15181 2.0119 2.0119 1.15181 3.06979 0.612786C3.73726 0.272694 4.45769 0.131491 5.27456 0.0647501C6.06732 -2.10134e-05 7.04579 -1.14143e-05 8.25648 3.1453e-07ZM5.46186 2.35711C4.78722 2.41223 4.40316 2.51475 4.11397 2.6621C3.48885 2.98061 2.98061 3.48885 2.6621 4.11396C2.51475 4.40316 2.41223 4.78722 2.35711 5.46185C2.30089 6.14991 2.3 7.03424 2.3 8.30555V14.6944C2.3 15.9658 2.30089 16.8501 2.35711 17.5381C2.41223 18.2128 2.51475 18.5968 2.6621 18.886C2.98061 19.5112 3.48885 20.0194 4.11397 20.3379C4.40316 20.4853 4.78722 20.5878 5.46185 20.6429C6.14991 20.6991 7.03424 20.7 8.30555 20.7H14.6944C15.9658 20.7 16.8501 20.6991 17.5381 20.6429C18.2128 20.5878 18.5968 20.4853 18.886 20.3379C19.5112 20.0194 20.0194 19.5112 20.3379 18.886C20.4853 18.5968 20.5878 18.2128 20.6429 17.5381C20.6991 16.8501 20.7 15.9658 20.7 14.6944V8.30556C20.7 7.03424 20.6991 6.14992 20.6429 5.46186C20.5878 4.78722 20.4853 4.40316 20.3379 4.11396C20.0194 3.48885 19.5112 2.98061 18.886 2.6621C18.5968 2.51475 18.2128 2.41223 17.5381 2.35711C16.8501 2.30089 15.9658 2.3 14.6944 2.3H8.30556C7.03424 2.3 6.14992 2.30089 5.46186 2.35711Z" fill="#6D6D6D"/>
                </svg>
                <% end %>
            <% end %>

            </div>


            <div class="line-name">

            <div id="current_surname">
                <%= current_user.surname %>
            </div>
            <%= turbo_frame_tag 'surname' do %>
                <%= link_to("/profile/change/#{current_user.id}") do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0297 6.93656L5.90737 15.0589C5.72196 15.2443 5.6178 15.4958 5.6178 15.758L5.6178 17.2923C5.6178 17.342 5.65804 17.3822 5.70768 17.3822H7.24199C7.5042 17.3822 7.75567 17.278 7.94108 17.0926L16.0634 8.97026L14.0297 6.93656ZM15.1737 5.7926L17.2074 7.8263L18.2242 6.80945C18.4348 6.59885 18.4348 6.25741 18.2243 6.04681L16.9532 4.77575C16.7426 4.56515 16.4011 4.56515 16.1905 4.77575L15.1737 5.7926ZM4.76341 13.915L15.0466 3.63179C15.889 2.7894 17.2548 2.7894 18.0971 3.63179L19.3682 4.90286C20.2106 5.74524 20.2106 7.11102 19.3682 7.95341L9.08504 18.2366C8.59623 18.7254 7.93327 19 7.24199 19L5.70768 19C4.76456 19 4 18.2354 4 17.2923L4 15.758C4 15.0667 4.27461 14.4038 4.76341 13.915Z" fill="#6D6D6D"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25648 3.1453e-07H14.7435C15.9542 -1.14143e-05 16.9327 -2.1092e-05 17.7254 0.0647501C18.5423 0.131491 19.2627 0.272694 19.9302 0.612786C20.9881 1.15181 21.8482 2.0119 22.3872 3.06979C22.7273 3.73726 22.8685 4.45769 22.9353 5.27456C23 6.06732 23 7.04578 23 8.25648V14.7435C23 15.9542 23 16.9327 22.9353 17.7254C22.8685 18.5423 22.7273 19.2627 22.3872 19.9302C21.8482 20.9881 20.9881 21.8482 19.9302 22.3872C19.2627 22.7273 18.5423 22.8685 17.7254 22.9353C16.9327 23 15.9542 23 14.7435 23H8.25647C7.04578 23 6.06732 23 5.27456 22.9353C4.45769 22.8685 3.73726 22.7273 3.06979 22.3872C2.0119 21.8482 1.15181 20.9881 0.612786 19.9302C0.272694 19.2627 0.131491 18.5423 0.0647504 17.7254C-2.07064e-05 16.9327 -1.14145e-05 15.9542 3.14367e-07 14.7435V8.25648C-1.14145e-05 7.04578 -2.07849e-05 6.06732 0.0647504 5.27456C0.131491 4.45769 0.272694 3.73726 0.612786 3.06979C1.15181 2.0119 2.0119 1.15181 3.06979 0.612786C3.73726 0.272694 4.45769 0.131491 5.27456 0.0647501C6.06732 -2.10134e-05 7.04579 -1.14143e-05 8.25648 3.1453e-07ZM5.46186 2.35711C4.78722 2.41223 4.40316 2.51475 4.11397 2.6621C3.48885 2.98061 2.98061 3.48885 2.6621 4.11396C2.51475 4.40316 2.41223 4.78722 2.35711 5.46185C2.30089 6.14991 2.3 7.03424 2.3 8.30555V14.6944C2.3 15.9658 2.30089 16.8501 2.35711 17.5381C2.41223 18.2128 2.51475 18.5968 2.6621 18.886C2.98061 19.5112 3.48885 20.0194 4.11397 20.3379C4.40316 20.4853 4.78722 20.5878 5.46185 20.6429C6.14991 20.6991 7.03424 20.7 8.30555 20.7H14.6944C15.9658 20.7 16.8501 20.6991 17.5381 20.6429C18.2128 20.5878 18.5968 20.4853 18.886 20.3379C19.5112 20.0194 20.0194 19.5112 20.3379 18.886C20.4853 18.5968 20.5878 18.2128 20.6429 17.5381C20.6991 16.8501 20.7 15.9658 20.7 14.6944V8.30556C20.7 7.03424 20.6991 6.14992 20.6429 5.46186C20.5878 4.78722 20.4853 4.40316 20.3379 4.11396C20.0194 3.48885 19.5112 2.98061 18.886 2.6621C18.5968 2.51475 18.2128 2.41223 17.5381 2.35711C16.8501 2.30089 15.9658 2.3 14.6944 2.3H8.30556C7.03424 2.3 6.14992 2.30089 5.46186 2.35711Z" fill="#6D6D6D"/>
                </svg>
                <% end %>
            <% end %>

            </div>


            <div class="line-name">

            <div id="middle_name">
                <%= current_user.middle_name %>
            </div>
            <%= turbo_frame_tag 'middle_name' do %>
                <%= link_to("/profile/change/#{current_user.id}") do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0297 6.93656L5.90737 15.0589C5.72196 15.2443 5.6178 15.4958 5.6178 15.758L5.6178 17.2923C5.6178 17.342 5.65804 17.3822 5.70768 17.3822H7.24199C7.5042 17.3822 7.75567 17.278 7.94108 17.0926L16.0634 8.97026L14.0297 6.93656ZM15.1737 5.7926L17.2074 7.8263L18.2242 6.80945C18.4348 6.59885 18.4348 6.25741 18.2243 6.04681L16.9532 4.77575C16.7426 4.56515 16.4011 4.56515 16.1905 4.77575L15.1737 5.7926ZM4.76341 13.915L15.0466 3.63179C15.889 2.7894 17.2548 2.7894 18.0971 3.63179L19.3682 4.90286C20.2106 5.74524 20.2106 7.11102 19.3682 7.95341L9.08504 18.2366C8.59623 18.7254 7.93327 19 7.24199 19L5.70768 19C4.76456 19 4 18.2354 4 17.2923L4 15.758C4 15.0667 4.27461 14.4038 4.76341 13.915Z" fill="#6D6D6D"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25648 3.1453e-07H14.7435C15.9542 -1.14143e-05 16.9327 -2.1092e-05 17.7254 0.0647501C18.5423 0.131491 19.2627 0.272694 19.9302 0.612786C20.9881 1.15181 21.8482 2.0119 22.3872 3.06979C22.7273 3.73726 22.8685 4.45769 22.9353 5.27456C23 6.06732 23 7.04578 23 8.25648V14.7435C23 15.9542 23 16.9327 22.9353 17.7254C22.8685 18.5423 22.7273 19.2627 22.3872 19.9302C21.8482 20.9881 20.9881 21.8482 19.9302 22.3872C19.2627 22.7273 18.5423 22.8685 17.7254 22.9353C16.9327 23 15.9542 23 14.7435 23H8.25647C7.04578 23 6.06732 23 5.27456 22.9353C4.45769 22.8685 3.73726 22.7273 3.06979 22.3872C2.0119 21.8482 1.15181 20.9881 0.612786 19.9302C0.272694 19.2627 0.131491 18.5423 0.0647504 17.7254C-2.07064e-05 16.9327 -1.14145e-05 15.9542 3.14367e-07 14.7435V8.25648C-1.14145e-05 7.04578 -2.07849e-05 6.06732 0.0647504 5.27456C0.131491 4.45769 0.272694 3.73726 0.612786 3.06979C1.15181 2.0119 2.0119 1.15181 3.06979 0.612786C3.73726 0.272694 4.45769 0.131491 5.27456 0.0647501C6.06732 -2.10134e-05 7.04579 -1.14143e-05 8.25648 3.1453e-07ZM5.46186 2.35711C4.78722 2.41223 4.40316 2.51475 4.11397 2.6621C3.48885 2.98061 2.98061 3.48885 2.6621 4.11396C2.51475 4.40316 2.41223 4.78722 2.35711 5.46185C2.30089 6.14991 2.3 7.03424 2.3 8.30555V14.6944C2.3 15.9658 2.30089 16.8501 2.35711 17.5381C2.41223 18.2128 2.51475 18.5968 2.6621 18.886C2.98061 19.5112 3.48885 20.0194 4.11397 20.3379C4.40316 20.4853 4.78722 20.5878 5.46185 20.6429C6.14991 20.6991 7.03424 20.7 8.30555 20.7H14.6944C15.9658 20.7 16.8501 20.6991 17.5381 20.6429C18.2128 20.5878 18.5968 20.4853 18.886 20.3379C19.5112 20.0194 20.0194 19.5112 20.3379 18.886C20.4853 18.5968 20.5878 18.2128 20.6429 17.5381C20.6991 16.8501 20.7 15.9658 20.7 14.6944V8.30556C20.7 7.03424 20.6991 6.14992 20.6429 5.46186C20.5878 4.78722 20.4853 4.40316 20.3379 4.11396C20.0194 3.48885 19.5112 2.98061 18.886 2.6621C18.5968 2.51475 18.2128 2.41223 17.5381 2.35711C16.8501 2.30089 15.9658 2.3 14.6944 2.3H8.30556C7.03424 2.3 6.14992 2.30089 5.46186 2.35711Z" fill="#6D6D6D"/>
                </svg>
                <% end %>
            <% end %>

            </div>

        </div>
        <div class="line"></div>
        <div class="year-group">
                <div class="small-text">
                Год выпуска
                </div>
                <div class="line-name">

                <div id="current_year">
                    <%= current_user.year %>
                </div>
                <%= turbo_frame_tag 'year' do %>
                    <%= link_to("/profile/change/#{current_user.id}") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0297 6.93656L5.90737 15.0589C5.72196 15.2443 5.6178 15.4958 5.6178 15.758L5.6178 17.2923C5.6178 17.342 5.65804 17.3822 5.70768 17.3822H7.24199C7.5042 17.3822 7.75567 17.278 7.94108 17.0926L16.0634 8.97026L14.0297 6.93656ZM15.1737 5.7926L17.2074 7.8263L18.2242 6.80945C18.4348 6.59885 18.4348 6.25741 18.2243 6.04681L16.9532 4.77575C16.7426 4.56515 16.4011 4.56515 16.1905 4.77575L15.1737 5.7926ZM4.76341 13.915L15.0466 3.63179C15.889 2.7894 17.2548 2.7894 18.0971 3.63179L19.3682 4.90286C20.2106 5.74524 20.2106 7.11102 19.3682 7.95341L9.08504 18.2366C8.59623 18.7254 7.93327 19 7.24199 19L5.70768 19C4.76456 19 4 18.2354 4 17.2923L4 15.758C4 15.0667 4.27461 14.4038 4.76341 13.915Z" fill="#6D6D6D"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25648 3.1453e-07H14.7435C15.9542 -1.14143e-05 16.9327 -2.1092e-05 17.7254 0.0647501C18.5423 0.131491 19.2627 0.272694 19.9302 0.612786C20.9881 1.15181 21.8482 2.0119 22.3872 3.06979C22.7273 3.73726 22.8685 4.45769 22.9353 5.27456C23 6.06732 23 7.04578 23 8.25648V14.7435C23 15.9542 23 16.9327 22.9353 17.7254C22.8685 18.5423 22.7273 19.2627 22.3872 19.9302C21.8482 20.9881 20.9881 21.8482 19.9302 22.3872C19.2627 22.7273 18.5423 22.8685 17.7254 22.9353C16.9327 23 15.9542 23 14.7435 23H8.25647C7.04578 23 6.06732 23 5.27456 22.9353C4.45769 22.8685 3.73726 22.7273 3.06979 22.3872C2.0119 21.8482 1.15181 20.9881 0.612786 19.9302C0.272694 19.2627 0.131491 18.5423 0.0647504 17.7254C-2.07064e-05 16.9327 -1.14145e-05 15.9542 3.14367e-07 14.7435V8.25648C-1.14145e-05 7.04578 -2.07849e-05 6.06732 0.0647504 5.27456C0.131491 4.45769 0.272694 3.73726 0.612786 3.06979C1.15181 2.0119 2.0119 1.15181 3.06979 0.612786C3.73726 0.272694 4.45769 0.131491 5.27456 0.0647501C6.06732 -2.10134e-05 7.04579 -1.14143e-05 8.25648 3.1453e-07ZM5.46186 2.35711C4.78722 2.41223 4.40316 2.51475 4.11397 2.6621C3.48885 2.98061 2.98061 3.48885 2.6621 4.11396C2.51475 4.40316 2.41223 4.78722 2.35711 5.46185C2.30089 6.14991 2.3 7.03424 2.3 8.30555V14.6944C2.3 15.9658 2.30089 16.8501 2.35711 17.5381C2.41223 18.2128 2.51475 18.5968 2.6621 18.886C2.98061 19.5112 3.48885 20.0194 4.11397 20.3379C4.40316 20.4853 4.78722 20.5878 5.46185 20.6429C6.14991 20.6991 7.03424 20.7 8.30555 20.7H14.6944C15.9658 20.7 16.8501 20.6991 17.5381 20.6429C18.2128 20.5878 18.5968 20.4853 18.886 20.3379C19.5112 20.0194 20.0194 19.5112 20.3379 18.886C20.4853 18.5968 20.5878 18.2128 20.6429 17.5381C20.6991 16.8501 20.7 15.9658 20.7 14.6944V8.30556C20.7 7.03424 20.6991 6.14992 20.6429 5.46186C20.5878 4.78722 20.4853 4.40316 20.3379 4.11396C20.0194 3.48885 19.5112 2.98061 18.886 2.6621C18.5968 2.51475 18.2128 2.41223 17.5381 2.35711C16.8501 2.30089 15.9658 2.3 14.6944 2.3H8.30556C7.03424 2.3 6.14992 2.30089 5.46186 2.35711Z" fill="#6D6D6D"/>
                    </svg>
                    <% end %>
                <% end %>
    
                </div>
        </div>

    </div>

    <div class="inf-box div-text">
         Загрузите свои материалы, тексты и предложения
         
         <%= link_to 'Отправить файлы', '/request/send_request', class: "button" %>
     
    </div>
</div>



<%= button_to('Sign out', '/users/sign_out', class:"button-white", :method => :delete) %>

<br>
<%= turbo_frame_tag 'button_delete' do %>
    <%= button_to 'Удалить аккаунт', "/profile/destroy/#{current_user.id}", class: "button-white" %>
<% end %>
<br>
