<!DOCTYPE html>
<html>
  <head>
    <title>Электронный музей кафедры ИУ6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= favicon_link_tag 'contain_473x474.png' %>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(95807160, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/95807160" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <header>
      <span>
        <%= link_to root_path, class: 'link logo' do %>
          <%= image_tag('header/logo.jpg', alt: 'logo') %>
        <% end %>
      </span>
      
      <div class="menu">
        <span>
          <%= link_to('История кафедры', '/history', class: 'link') %>
        </span>
        <span>
          <%= link_to('Преподаватели', '/teachers', class: 'link') %>
        </span>
        <span>
          <%= link_to('Музей', '/museum', class: 'link') %>
        </span>
        <span>
          <%= link_to('Материалы', '/materials', class: 'link') %>
        </span>
      </div>

      <span>
        <% if user_signed_in? %>
            <%= link_to 'Профиль', '/profile', class: 'button-white' %>
        <% else %>
          <%= link_to 'Войти', '/users/sign_in', class: 'button' %>
        <% end %>
      </span>
    </header>

    <%= yield %>

    <footer>© 2023 Московский государственный технический университет им. Н.Э. Баумана</footer>
  </body>
</html>
